/* General Styles */
body {
  background-color: #cfd6e0;
  color: white;
}

h1 {
  color: white;
  font-size: 72px;
}

header {
  margin-bottom: 50px;
  height: 100px;
}

#socials {
  float: right;
  margin-top: 100px;
  filter: invert(1);
}

#socials img {
  padding-left: 10px;
}

#socials img:hover {
  cursor: pointer;
}

#jyTitle {
  font-size: 128px;
  margin: 0px;
  float: left;
}

#subheading {
  margin: 0px;
}

/* Tile Styles */
div #Posts {
  border-radius: 19px;
  background: #cfd6e0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 400px;
  grid-gap: 10px;
}

div .Post {
  margin: 50px;
  border-radius: 31px;
  box-shadow:  8px 8px 29px #55585c, 
  -8px -8px 29px #ffffff;
  overflow: hidden;
  position: relative;
  padding: 0px;
}

.Post img {
  object-fit: cover;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
  filter: grayscale(50%);
}

button:focus {
  outline: 0;
}

button:hover img {
  opacity: 0.1;
  cursor: pointer;
}

button:hover #Post1 {
  color: black;
  opacity: 0.6;
}

.Post h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
}

#Content{
  width:60%;
}

#ContentImage{
  width: 50%;
}





@media only screen and (max-width: 800px) {
  div #Posts {
    display: inline-block;
  }
  .Post img {
    object-fit: cover;
    margin: -10px;
  }
  #subheading {
    font-size: 2em;
    overflow-wrap: normal;
  }
  #jyTitle {
    text-align: center;
  }
  #socials {
    align-content: center;
  }
}

@media only screen and (max-width: 460px) {
  #jyTitle {
    font-size: 90px;
  }
  #subheading {
    font-size: 2em;
    overflow-wrap: normal;
  }
  .Post h1 {
    font-size: 60px;
  }
  div .Post {
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
